{% extends "base.html" %}

{% block page_title %}Liste des Pannes{% endblock %}

{% block content %}
<div class="container" style="margin-top:2rem;">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Moto</th>
                <th>Description</th>
                <th>Montant Dépensé</th>
                <th>Date</th>
                <th>Admin</th>
            </tr>
        </thead>
        <tbody>
            {% for panne in pannes %}
            <tr>
                <td>{{ panne.moto.nom }} - {{ panne.moto.matricule }}</td>
                <td>{{ panne.description }}</td>
                <td>{{ panne.montant_depense }} FCFA</td>
                <td>{{ panne.date|date:"d F Y" }}</td>
                <td>{{ panne.admin.username }}</td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="5" class="text-center">Aucune panne enregistrée.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
